<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="save()">
        <ion-icon name="cloud-upload"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-list>
  <ion-item>
    <ion-label>Underlying Stock</ion-label>
    <ion-select [(ngModel)]="underlying" *ngIf="arrayUnderlying" (ionChange)="changedUnderlying($event)">
      <ion-option *ngFor="let item of arrayUnderlying">{{item}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Strike Price</ion-label>
    <ion-select [(ngModel)]="price" *ngIf="arrayPrice">
      <ion-option *ngFor="let item of arrayPrice">{{item}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Expiry Date</ion-label>
    <ion-select [(ngModel)]="expireDate" *ngIf="arrayExpireDate">
      <ion-option *ngFor="let item of arrayExpireDate">{{item}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>C/P</ion-label>
    <ion-select [(ngModel)]="c_p">
      <ion-option value="C">C</ion-option>
      <ion-option value="P">P</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>From</ion-label>
    <ion-datetime displayFormat="DD-MM-YYYY" 
                  pickerFormat="D MMM YYYY"
                  min="2016" max="2020-12-31"
                  [(ngModel)]="fromTime"
                  placeholder = "Select Time"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>To</ion-label>
    <ion-datetime displayFormat="DD-MM-YYYY" 
                  pickerFormat="D MMM YYYY"
                  min="2016" max="2020-12-31"
                  [(ngModel)]="toTime"
                  placeholder = "Select Time"></ion-datetime>
  </ion-item>

  <ion-item>
    <button ion-button color="light" round block (click)="searchOptions()">
      <ion-icon name="search"></ion-icon>
      Search</button>
  </ion-item>
</ion-list>
<ion-list *ngIf="arraySearchResult">
  <ion-item *ngFor="let item of arraySearchResult">
    <div> Date Time : {{item.datetime}} </div>
    <div> Closed Price : {{item.closed_price}} </div>
  </ion-item>
</ion-list>

</ion-content>
